---
import Section from '@components/utils/Section.astro';
import Link from '@components/utils/Link.astro';
import type { Repository } from '@functions/pinned-repos/types';

import Card from './Card.astro';

interface Response extends Omit<Repository, 'repositoryTopics'> {
  topics: string[];
}

const DEPLOY_URL = process.env.DEPLOY_PRIME_URL;

const isDevelopmentMode = import.meta.env.MODE === 'development';
const pinnedReposURL = isDevelopmentMode ? 'http://localhost:3000' : DEPLOY_URL;
const res = await fetch(`${pinnedReposURL}/api/pinned-repos`);
const data: Response[] = await res.json();
---

<Section id="projects">
  <h2 class="mb-16 text-center text-3xl">Projects</h2>
  <div class="px-4 lg:px-0 grid lg:grid-cols-[450px,400px] justify-center gap-10">
    {
      data.map(({ name, url, homepageUrl, description, openGraphImageUrl, topics }) => (
        <Card
          class="items-center h-full"
          title={name}
          body={description}
          imageUrl={openGraphImageUrl}
          repo-link={url}
          live-link={homepageUrl}
          topics={topics}
        />
      ))
    }
  </div>
  <div class="text-center mt-10 mb-8">
    <div class="flex w-[200px] mx-auto">
      <Link
        href="https://github.com/abdulsamad?tab=repositories&q=&type=source"
        rel="noopener"
        target="_blank"
        className="flex gap-2">
        <span>More on GitHub</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"></path>
        </svg>
      </Link>
    </div>
  </div>
</Section>
