---
import { Image } from '@astrojs/image/components';

import Section from '@components/utils/Section.astro';
import Card from '@components/Card.astro';
import Button from '@components/utils/Button.astro';
import type { Repository } from '@utils/types';

console.log(`%c${process.env.DEPLOY_URL}`, 'font-size: 20px; color: red');
const mode = import.meta.env.MODE;
const pinnedReposURL =
  mode === 'development'
    ? 'http://localhost:8888'
    : 'https://develop--abdulsamad-ansari.netlify.app';
const res = await fetch(`${pinnedReposURL}/api/pinned-repos`);
const data: Repository[] = await res.json();
---

<Section id="projects">
  <h2 class="my-5 text-center text-3xl">Projects</h2>
  <div class="px-4 lg:px-0 grid lg:grid-cols-[repeat(2,400px)] justify-center gap-10">
    {
      data.map(({ name, url, description, openGraphImageUrl }) => (
        <>
          <Image
            src={openGraphImageUrl}
            class="mx-auto rounded-lg"
            height={0}
            width={800}
            aspectRatio={16 / 9}
            alt={name}
            format="webp"
          />
          <Card href={url} class="items-center h-full" title={name} body={description} />
        </>
      ))
    }
  </div>
  <div class="text-center mt-8">
    <Button class="w-56 text-lg">Checkout GitHub</Button>
  </div>
</Section>

<style>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
</style>
